body{
    font-family: 'PT Serif', serif;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 35;
}
section{
    height: 560px;
    margin:3%;
    padding:3%;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.bio-bg{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.latest-bg{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.half-width{
    width:40%;
    margin-left: 5%;
    padding-left: 3%;
    float: left;
}
.half-width img{
    width: 100%;
}
.one-third{
    margin: 2%;
    padding: 2%;
    width: 25%;
    float: left;
}
.one-third img{
    width: 100%;
}
.Highlight{
    color: #e44685;
    font-weight: 700;
    font-size: 40px;
}
#hire{
    text-decoration: none;
    background-color: #e44685;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
#cv{
    text-decoration: none;
    background-color: #e44685;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.cen{
    text-align: center;
}
#cen2{
    text-align: center;
    font-size: smaller;
    font-weight: 700;
}


#last{
    background-color: #e44685;
    height: 128px;
    width: 545px;
    margin-left:26%;
    justify-content: center;
    color: white;
    font-size: smaller;
    padding: 3px;
    border-radius: 10px;
}
.center{
    text-align: center;
}

.special{
    color:dimgray;
    font-size: 11px;
    text-align: center;
}
footer{
    color:dimgray;
    font-size: 11px;
    text-align: center;
}